<div class="container">
  <h1>TODO Input</h1>
  <div class="add">
    <input [(ngModel)]="TaskTitle" type="text" >
    <button (click)="addTodo()" >Add new Task</button>
  </div>

  <div class="todolist-container">
    <h3>Todo List</h3>
    <div class="filters">
      <button>All</button>
      <button>Done</button>
      <button>Todo</button>
    </div>

    <ul>
      <li>
        <h4> title </h4>
        <div>
          <input type="checkbox" >
          <i class="edit fas fa-edit"></i>
          <i class="trash fas fa-trash"></i>
        </div>
      </li>
      <li>
        <h4> title </h4>
        <div>
          <input type="checkbox" >
          <i class="edit fas fa-edit"></i>
          <i class="trash fas fa-trash"></i>
        </div>
      </li>
    </ul>

  </div>
</div>