<div class="container">
  <h1>TODO Input</h1>
  <div class="add">
    <input [(ngModel)]="TaskTitle" type="text" >
    <button (click)="addTodo()" >Add new Task</button>
  </div>

  <div class="todolist-container">
    <h3>Todo List</h3>
    <div class="filters">
      <button>All</button>
      <button>Done</button>
      <button>Todo</button>
    </div>

    <ul >
      <li *ngFor="let todo of todoLists">
        <h4> {{todo.title}} </h4>
        <div>
          <input type="checkbox"  [(ngModel)]="todo.done" (change)="toggleDone(todo.id)">
          <i class="edit fas fa-edit" (click)="edit(todo.id)" ></i>
          <i class="trash fas fa-trash" (click)="delete(todo.id)"></i>
        </div>
      </li>

    </ul>

  </div>
</div>